<!DOCTYPE html>
<html>
  <head>
    <title>F.LOG</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="/logs.jpg" alt="logs" width="160px" height="160px"/>
      </div>
      <ul>
        <li><a href="/flogs">HOME</a></li>
        <br>
        <li><a href="/flogs/new">F.LOG IT</a></li>
        <br>
        <li><a href="/flogs">MY F.LOGS</a></li>
      </ul>
    </nav><!-- /.navbar -->
    <%= yield %>
  </body>
</html>
